[submodule "source/3rdparty/signals2"]
	path = source/3rdparty/signals2
	url = git@github.com:boostorg/signals2.git
[submodule "source/3rdparty/OpenMesh"]
	path = source/3rdparty/OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
